POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123
POSTGRES_DATABASE=bd-vehiculos
POSTGRES_SSL=false
JWT_SECRET= "987654321"
#renombrar el archivo .env.example a .env